@page
@model aboutmeModel
@{
	<!DOCTYPE html>
	<html>
	<head>
		<title>About Me - My E-commerce Website</title>
	</head>
	<body>
		<header>
			<h1>About Me</h1>
		</header>

		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="products.html">Products</a></li>
				<li><a href="contact.html">Contact</a></li>
				<li><a href="cart.html">Cart</a></li>
			</ul>
		</nav>

		<main>
			<p>Hi, my name is Neil Rubdi and I am the owner of this e-commerce website. I started this website with the goal of providing customers with high-quality products at affordable prices.</p>

			<p>I have always been passionate about sneaker indsutry and I believe that everyone should have access to the best products in this field.</p>

			<p>Our team is dedicated to sourcing products that meet our high standards of quality, and we are constantly updating our inventory to ensure that our customers have access to the latest and greatest products.</p>

			<p>If you have any questions or feedback, please feel free to contact us using the information on our <a href="contact.html">Contact</a> page.</p>
		</main>

		<footer>
			<p>&copy; 2023 My E-commerce Website. All rights reserved.</p>
		</footer>
	</body>
	</html>

}
